    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">NEW
                        <strong>USER</strong>
                    </h2>
                    <hr>
                    <p>USER INPUT FORM HERE</p>
                    <form role="form" action="/userdir/new" method="post">
                        <div class="row">

                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="text" name=user[email] class="form-control" placeholder="margaretThatchersGhost@webcrawler.net">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Password</label>
                                <input type="text" name=user[password] class="form-control" placeholder="insecurepassword">
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="submit">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
