<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">USER
          <strong>SIGN IN</strong>
        </h2>
        <hr>
        <form role="form" action="/" method="post">
          <center>
            <div class="row">

              <div class="myinputbox">
                <label><h2 class="intro-text text-center">EMAIL
                  <strong>ADDRESS</strong></h2></label>
                  <input type="text" name=user[email] class="form-control" placeholder="linux4eva@mac.com">
                </div>
                <br>
                <div class="myinputbox">
                  <label> <h2 class="intro-text text-center">YOUR
                    <strong>PASSWORD</strong></h2></label>
                    <input type="text" name=user[password] class="form-control" placeholder="insecurepassword">
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group col-lg-12">
                    <input type="hidden" value="submit">
                    <button type="submit" class="btn btn-default">SUBMIT</button>
                  </div>
                </div>

                <br><br><br>

                <div class="row">
                  <hr>
                  <h2 class="intro-text text-center">NEW
                    <strong>USER</strong>
                  </h2>  <hr>
                  <center>
                    <a href="/userdir/newuser" class="btn btn-default">REGISTER</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- /.container -->
